* {
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}

/* modificando header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.nav-list {
  display: flex;
  list-style-type: none;
  gap: 1rem;
}
.nav-list li a {
  text-decoration: none;
  color: white;
}

.abrir-menu,
.cerrar-menu {
  display: none;
}
/* Ahora voy a modificar al icono del carrito */
.container-icon {
  position: relative;
}
.icon-cart {
  font-size: 28px;
}
.icon-cart:hover {
  cursor: pointer;
}
.container-icon__count-product {
  position: absolute;
  top: 80%;
  right: 0;
  background-color: black;
  color: white;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hidden-cart {
  display: none;
}
.container-icon__products {
  position: absolute;
  top: 120%;
  right: 0;
  background-color: white;
  width: 400px;
  z-index: 1;
  border-radius: 10px;
}
.cart-total {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  gap: 20px;
}

/* Ahora modifico el carrito cuando lo abrimos */

.cart-producto {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  gap: 20px;
  border-bottom: 1px solid black;
}
.cart-producto__info {
  display: flex;
  gap: 50px;
}
.cart-producto__eliminar:hover {
  cursor: pointer;
}
/* modificando header */

.body-login {
  background-color: #fff;
  border-radius: 10px;
  width: 75vw;
  margin: 5% auto;
}

.button {
  width: 65%;
  margin-top: 2%;
  background-color: #ff3cac;
  background-image: linear-gradient(
    225deg,
    #ff3cac 0%,
    #784ba0 50%,
    #2b86c5 100%
  );
  color: white;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 20px;
  min-width: 120px;
  position: relative;
  overflow: hidden;
  font-size: 16px;
}

button a {
  text-decoration: none;
  color: white;
}

/* Inicio */
.contenedor-dinamico {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

@media (min-width: 728px) {
  .body-login {
    height: 350px;
    display: flex;
    align-items: center;
  }
}

@media (max-width: 550px) {
  .abrir-menu,
  .cerrar-menu {
    display: block;
  }
  nav {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    padding: 2rem;
    z-index: 1;
  }
  .nav-list {
    flex-direction: column;
    align-items: end;
  }
  nav ul li {
    color: white;
  }
  nav.visible {
    opacity: 1;
    visibility: visible;
  }

  main {
    margin-top: 150px;
    z-index: 0;
  }
}
